site_name: UNOPS Exam Software Documentation
site_url: https://EAsrat1.github.io/UNOPS-Exam-Software/

theme:
  name: material
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.instant.preview
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
     # - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share

plugins:
  - search
  - tags

nav:
  - Home: index.md
  - Eth Tele Server: eth-tele-server-configuration.md
  - Module: module-codes.md
  - Installation-and-setup: 
    - Environment-Configuration: Installation-and-setup/Environment-Configuration.md
    - Prerequisites: Installation-and-setup/Prerequisites.md
    - Setup-Guide: Installation-and-setup/Setup-Guide.md
site_url: https://easrat1.github.io/UNOPS-Exam-Software/
name: Deploy MkDocs Site to GitHub Pages

on:
  push:
    branches:
      - main  # Adjust to your default branch name if it's not 'main'

jobs:
  build:
    name: Build and Deploy MkDocs Site
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mkdocs
        pip install mkdocs-material==4.0.0  # Install MkDocs Material v4.x

    - name: Build MkDocs site
      run: mkdocs build

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./site  # Make sure it's pointing to the 'site' folder

  




